.purple-button {
  background-color: purple;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  width: 90px;
  border-radius: 3ch;


}

.purple-button:hover {
  cursor: pointer;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: lightpink;
}